 <?xml version="1.0" encoding="UTF-8"?>
    <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="iadbox-cordova-plugin" version="1.0.3">
    <name>iadbox</name>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <description>iadbox Cordova Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,iadbox,ads</keywords>
    <js-module src="www/iadbox.js" name="iadbox">
        <clobbers target="window.plugins.iadbox" />
    </js-module>

    <platform name="android">
        <framework src="com.google.firebase:firebase-messaging:+" />
        
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="iadbox">
                <param name="android-package" value="com.iadbox.cordova.plugin.iadboxPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity 
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize" 
                android:name="com.qustodian.sdk.WebActivity" 
                android:label="@string/qustodian_sdk" 
                android:theme="@style/QustodianSdkManagerTheme" 
                android:launchMode="singleTask"/>
            <!-- Google Play Services -->
            <meta-data 
                android:name="com.google.android.gms.version" 
                android:value="@integer/google_play_services_version" />

            <!-- Disable iadbox FcmListenerService-->
            <service 
                android:enabled="false" 
                tools:node="replace"
                android:name="com.qustodian.sdk.androidutils.FcmListenerService" />

        </config-file>
        
        <edit-config file="AndroidManifest.xml" target="/manifest" mode="merge">
            <manifest xmlns:tools="http://schemas.android.com/tools" />
        </edit-config>

        <source-file src="android/iadboxPlugin.java" target-dir="src/com/iadbox/cordova/plugin" />
        <framework src="android/iadbox-build.gradle" custom="true" type="gradleReference" />
        <resource-file src="android/androidstudio_sdk_1_5_5_iadbox-release.aar" target="libs/iadbox-release.aar" />
    </platform>
    <platform name="ios">

        <config-file parent="/*" target="config.xml">
            <feature name="iadbox">
                <param name="ios-package" value="IadboxPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        
        <framework src="AVFoundation.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="CoreLocation.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="AdSupport.framework" />

        <header-file src="ios/Qustodian.h" />
        <header-file src="ios/IadboxPlugin.h" />

        <source-file src="ios/libQustodian_1.5.2.a" framework="true" />
        <source-file src="ios/IadboxPlugin.m" />
    </platform>
</plugin>